/* Resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables --color-principal y --color-fondo definidos en el head de index.php */

.color-principal{
    color: var(--color-principal);
}

.color-fondo{
    background-color: var(--color-fondo);
}


