$bg: black;

body {
    background-color: $bg;
    height: 100vh;
}

.contenedor{
    position: relative;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

main{
    display: flex;
    flex-direction: column;
    width: 75%;

    .hero{
        min-height: 20%;
        margin-bottom: 0.2rem;
    }
}

.contenido{
    display: flex;

    img{
        max-width: 100%;
    }
}

.contenido__sidebar{
    &--izq{
        flex-grow: 0;
        width: 20%;
    }

    &--der{
        flex-grow: 0;
        width: 20%;
    }
}

.contenido__central{
    flex-grow: 1;
    max-width: 60%;
    padding: 0 1rem;    
    margin-top: 1rem;
}

/************************************************/
/************************************************/
                /* MEDIA QUERIES */
/************************************************/
/************************************************/

@media (min-width:799px){
    .nav__menu{      
        &--desktop{
            display: flex;
        }
    
        &--movil{
            display: none;
        }
    }
}