$bg: black;

body {
    background-color: $bg;
    height: 100vh;
}

.contenedor{
    position: relative;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

main{
    display: flex;
    flex-direction: column;
    width: 75%;

    .hero{
        min-height: 20%;
        margin-bottom: 0.2rem;
    }
}

.contenido{
    display: flex;

    img{
        max-width: 100%;
    }
}

.contenido__sidebar{
    &--izq{
        flex-grow: 0;
        width: 20%;
    }

    &--der{
        flex-grow: 0;
        width: 20%;
    }
}

.contenido__central{
    flex-grow: 1;
    max-width: 60%;
    padding: 0 1rem;    
    margin-top: 1rem;
}

#social{
    position: fixed;
    right: 0;
    top: 100px;
    width: 75px;
    background-color: #DDDDDD;

    .icons{        
        a{
            display: block;
            margin-bottom: 10px;
        }
    }

    .social__imagen{
        float:left;
        margin-top:95px;
    }
}

.shop-div-lateral {
    position: fixed;
    right: 0;
    top: 320px;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 75px;
    height: 4rem;
    background-color: #DDDDDD;
    color: black;
    text-transform: uppercase;

    a{
        color: black;
    }
}

#social img {
    max-width: 100%;
    width: 36px;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
/************************************************/
/************************************************/
                /* MEDIA QUERIES */
/************************************************/
/************************************************/

@media (min-width:799px){
    .nav__menu{      
        &--desktop{
            display: flex;
        }
    
        &--movil{
            display: none;
        }
    }
}