.container{
    &--classic{
        max-width: min(95%, $max-width);
        margin: 0 auto;
    }

    &--static{
        max-width: min(95%, $max-width);
        margin: 0 auto;
    }

    &--fluid{
        display: grid;
        grid-template-columns: [full-width-start] 100px [breakout-start] 100px [content-start] 1fr [content-end] 100px [breakout-end] 100px [full-width-end];
    }
}