.la-sala{
    h2{
        margin: 2rem 0;
    }

    h3{
        margin: 1rem 0;
    }

    ul{
        list-style-type: none;
    }

    li{
        margin:.5rem 0;
    }

    .hero{
        height: 0px;
        min-height: unset;
    }
    .clearfix-hero{
        display: block;
        height: 250px;
    }
}