$bg: wheat;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: $bg;
    height: 100vh;
  }
  
  .container{
    height: 100%;
  }
  
  .mainNav{
    display: flex;
    justify-content: space-between;  
    position: relative;
  }
  
  .nav__logo{
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nav__menu{      
    &--desktop{
        display: none;

        ul{
            display: flex;
            list-style: none;
            
            li{
                padding: 10px;
            }
        }
    }
  }
  
  .nav__icono{
    font-size: 2rem;
    float: right;
  }
  
  .nav__menudiv{
    visibility: hidden;
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
  }
  
  /************************************************/
  /************************************************/
                /* MEDIA QUERIES */
  /************************************************/
  /************************************************/
  
  @media (min-width:799px){
    .nav__menu{      
        &--desktop{
            display: inline-block;
        }
    
        &--movil{
            display: none;
        }
      }
  }
  