.contenido__sidebar--izq, .contenido__sidebar--der {
    
    .slideshowck{
        background-color: rgba(255,255,255,0.2);
        padding: 0.2rem;
        margin: 1rem 0;
        border-radius: 20px;
        overflow: hidden;
    }

}