// Tipografía

@mixin typo($size, $scale: 'perfect-fourth'){
    @if map-has-key($map: $typo-scales, $key: $scale ){
      $scale: map-get($map: $typo-scales, $key: $scale)
    }
    @else{
      $scale: $perfect-fourth;
    }
  
  
    @if map-has-key($map: $scale, $key: $size) {
      font-size: map-get($scale, $size);
    }
  }