.conecta{

    h2{
        color: $brand-color;
    }

    .crew-emails{
        list-style-type: circle;

        li{
            margin: 1rem 0;
        }
    }

    .hero{
        height: 0px;
        min-height: unset;
    }
    .clearfix-hero{
        display: block;
        height: 250px;
    }


}