// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home, .eventos{
    .clearfix-hero{
        display: none;
    }

    .blog-featured{
        .item-title{            
            font-weight: normal;  
            margin: 1.25rem 0;   
            
            @include mq("900", "max"){
                font-size: 1.25rem;
            }
        }

        .item-content{
            p{
                font-size: 1rem;
            }
        }
    }
}