// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home, .eventos{
    .clearfix-hero{
        display: none;
    }

    .blog-featured{
        .item-title{            
            font-weight: normal;  
            margin: 1.25rem 0;          
        }
    }
}